* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between; /* título a la izquierda, opciones a la derecha */
  align-items: center; /* centra verticalmente */
  padding: 20px 10px;
  background: #0f2263; /* puedes cambiarlo o quitarlo */
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header-options {
  display: flex;
  gap: 15px; /* espacio entre links */
  align-items: center;
}

.header-options a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header-options a:hover {
  color: rgba(255, 255, 255, 0.744);
  transition: color 0.3s ease;
}
